<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="edu.eafit.maestria.activa.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         id="activaproduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="edu.eafit.maestria.activa.ui.application"
            name="%product.name">
         <property
               name="appName"
               value="%product.name">
         </property>
         <property
               name="aboutImage"
               value="icons/app3.png">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="startupForegroundColor"
               value="4092FF">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,15">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,5">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective"
            class="edu.eafit.maestria.activa.ui.Perspective"
            id="activa.ui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.player.name"
            allowMultiple="false"
            class="edu.eafit.maestria.activa.ui.player.Player"
            id="activa.ui.view.player">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="edu.eafit.maestria.activa.ui.NavigationView"
            id="activa.ui.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="fileMenu"
               label="%command.file">
            <command
                  commandId="activa.ui.command.file.new"
                  label="%command.file.new"
                  style="push">
            </command>
            <command
                  commandId="activa.ui.command.file.open"
                  label="%command.file.open"
                  style="push">
            </command>
            <separator
                  name="activa.ui.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="activa.ui.command.file.close"
                  label="%command.file.close"
                  style="push">
            </command>
            <command
                  commandId="activa.ui.command.file.save"
                  label="%command.file.save"
                  style="push">
            </command>
            <separator
                  name="activa.ui.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="%command.file.exit"
                  style="push">
            </command>
         </menu>
         <menu
               id="editMenu"
               label="%command.edit">
            <command
                  commandId="activa.ui.command.edit.undo"
                  label="%command.edit.undo"
                  style="push">
            </command>
            <command
                  commandId="activa.ui.command.edit.redo"
            	  label="%command.edit.redo"
                  style="push">
            </command>
            <separator
                  name="activa.ui.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="activa.ui.command.edit.cut"
            	  label="%command.edit.cut"
                  style="push">
            </command>
            <command
                  commandId="activa.ui.command.edit.copy"
            	  label="%command.edit.copy"
                  style="push">
            </command>
            <command
                  commandId="activa.ui.command.edit.paste"
            	  label="%command.edit.paste"
                  style="push">
            </command>
            <command
                  commandId="activa.ui.command.edit.delete"
            	  label="%command.edit.delete"
                  style="push">
            </command>
            <separator
                  name="activa.ui.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="activa.ui.command.edit.selectAll"
            	  label="%command.edit.selectAll"
                  style="push">
            </command>
            <command
                  commandId="activa.ui.command.edit.deselect"
            	  label="%command.edit.deselect"
                  style="push">
            </command>
            <command
                  commandId="activa.ui.command.edit.reselect"
            	  label="%command.edit.reselect"
                  style="push">
            </command>
            <command
                  commandId="activa.ui.command.edit.invert"
            	  label="%command.edit.invert"
                  style="push">
            </command>
            <separator
                  name="activa.ui.separator5"
                  visible="true">
            </separator>
            <menu
            	  id="editTransformMenu"
                  label="%command.edit.transform">
                  <command
	                  commandId="activa.ui.command.edit.transform.scale"
            		  label="%command.edit.transform.scale"
	                  style="push">
	              </command>
	              <command
	                  commandId="activa.ui.command.edit.transform.rotate"
            		  label="%command.edit.transform.rotate"
	                  style="push">
	              </command>
            </menu>
         </menu>
         <menu
               id="viewMenu"
               label="%command.view">
            <command
                  commandId="activa.ui.command.view.design"
            	  label="%command.view.design"
                  style="push">
            </command>
            <command
                  commandId="activa.ui.command.view.pcf"
            	  label="%command.view.pcf"
                  style="push">
            </command>
            <command
                  commandId="activa.ui.command.view.tva"
            	  label="%command.view.tva"
                  style="push">
            </command>
            <command
                  commandId="activa.ui.command.view.metadata"
            	  label="%command.view.metadata"
                  style="push">
            </command>
            <separator
                  name="activa.ui.separator6"
                  visible="true">
            </separator>
             <command
                  commandId="activa.ui.command.view.zoomIn"
            	  label="%command.view.zoomIn"
                  style="push">
            </command>
            <command
                  commandId="activa.ui.command.view.zoomOut"
            	  label="%command.view.zoomOut"
                  style="push">
            </command>
            <command
                  commandId="activa.ui.command.view.zoomToFit"
            	  label="%command.view.zoomToFit"
                  style="push">
            </command>
            <separator
                  name="activa.ui.separator7"
                  visible="true">
            </separator>
            <menu
            	  id="viewShowMenu"
                  label="%command.view.show">
                  <command
                        commandId="activa.ui.command.view.show.allColors"
                        icon="icons/16/colorWheel-16.png"
                        label=" ">
	              </command>
                  <command
                        commandId="activa.ui.command.view.show.red"
                        icon="icons/16/red-16.png"
                        label=" ">
                  </command>
                  <command
                        commandId="activa.ui.command.view.show.green"
                        icon="icons/16/green-16.png"
                        label=" ">
	              </command>
	              <command
                        commandId="activa.ui.command.view.show.yellow"
                        icon="icons/16/yellow-16.png"
                        label=" ">
	              </command>
	              <command
                        commandId="activa.ui.command.view.show.blue"
                        icon="icons/16/blue-16.png"
                        label=" ">
	              </command>
            </menu>
         </menu>
         <menu
               id="detectMenu"
               label="%command.detect">
            <command
                  commandId="activa.ui.command.detect.objects"
            	  label="%command.detect.objects"
                  style="push">
            </command>
            <command
                  commandId="activa.ui.command.detect.keyframes"
            	  label="%command.detect.keyframes"
                  style="push">
            </command>
            <menu
            	  id="detectTrackMenu"
                  label="%command.view.show">
                  <command
                        commandId="activa.ui.command.detect.track.template"
            			label="%command.detect.track.template"
						style="push">
	              </command>
                  <command
                        commandId="activa.ui.command.detect.track.particle"
            			label="%command.detect.track.particle"
            			style="push">
                  </command>
            </menu>
         </menu>
         <menu
               id="runMenu"
               label="%command.run">
            <command
                  commandId="activa.ui.command.run.preview"
            	  label="%command.run.preview"
                  style="push">
            </command>
            <menu
               id="generateMenu"
               label="%command.run.generate">
	            <command
	                  commandId="activa.ui.command.run.generate.all"
	            	  label="%command.run.generate.all"
	                  style="push">
	            </command>
	            <command
	                  commandId="activa.ui.command.run.generate.mhp"
	            	  label="%command.run.generate.mhp"
	                  style="push">
	            </command>
	            <command
	                  commandId="activa.ui.command.run.generate.ocap"
	            	  label="%command.run.generate.ocap"
	                  style="push">
	            </command>
	            <command
	                  commandId="activa.ui.command.run.generate.ginga"
	            	  label="%command.run.generate.ginga"
	                  style="push">
	            </command>
	            <command
	                  commandId="activa.ui.command.run.generate.iptv"
	            	  label="%command.run.generate.iptv"
	                  style="push">
	            </command>
	            <command
	                  commandId="activa.ui.command.run.generate.internetTV"
	            	  label="%command.run.generate.internetTV"
	                  style="push">
	            </command>
	         </menu>
	     </menu>
         <menu
               id="helpMenu"
               label="%command.help">
            <command
                  commandId="activa.ui.command.help.contents"
            	  label="%command.help.contents"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="fileToolbar">
            <command
                  commandId="activa.ui.command.file.new"
                  icon="icons/48/Folder Add-01 48.png"
                  label="%command.file.new"
                  style="push"
                  tooltip="%command.file.new">
            </command>
            <command
                  commandId="activa.ui.command.file.open"
                  icon="icons/48/Folder Open-01 48.png"
                  label="%command.file.open"
                  style="push"
                  tooltip="%command.file.open">
            </command>
            <command
                  commandId="activa.ui.command.file.close"
                  icon="icons/48/close-48.png"
                  label="%command.file.close"
                  style="push"
                  tooltip="%command.file.close">
            </command>
            <command
                  commandId="activa.ui.command.file.save"
                  icon="icons/48/Save-01 48.png"
                  label="%command.file.save"
                  style="push"
                  tooltip="%command.file.save">
            </command>
         </toolbar>
          <toolbar
               id="preferencesToolbar">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  icon="icons/48/preferences-48.png"
                  label="%command.preferences"
                  style="push"
                  tooltip="%command.preferences">
            </command>
         </toolbar>
          <toolbar
               id="activa.ui.viewToolbar">
            <command
                  commandId="activa.ui.command.ddlView"
                  icon="icons/48/Binoculars-01 48.png"
                  label="%command.view.show"
                  style="pulldown"
                  tooltip="%command.view.show">
            </command>
         </toolbar>
      	 <toolbar
               id="activa.ui.detectToolbar">
            <command
                  commandId="activa.ui.command.ddlDetect"
                  icon="icons/48/Gear-01 48.png"
                  label="%command.detect"
                  style="pulldown"
                  tooltip="%command.detect">
            </command>
            <command
                  commandId="activa.ui.command.ddlDetectTrack"
                  icon="icons/48/icon_issue_tracking 48.png"
                  label="%command.detect.track"
                  style="pulldown"
                  tooltip="%command.detect.track">
            </command>
         </toolbar>
         <toolbar
               id="runToolbar">
            <command
                  commandId="activa.ui.command.run.preview"
                  icon="icons/48/Computer Monitor-01 48.png"
                  label="%command.run.preview"
                  style="push"
                  tooltip="%command.run.preview">
            </command>
            <command
                  commandId="activa.ui.command.ddlRunGenerate"
                  icon="icons/48/transcode-48.png"
                  label="%command.run.generate"
                  style="pulldown"
                  tooltip="%command.run.generate">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:activa.ui.command.ddlView">
          <command
                commandId="activa.ui.command.view.show.allColors"
                icon="icons/16/colorWheel-16.png"
                label=" ">
          </command>
          <command
                commandId="activa.ui.command.view.show.red"
                icon="icons/16/red-16.png"
                label=" ">
          </command>
          <command
                commandId="activa.ui.command.view.show.green"
                icon="icons/16/green-16.png"
                label=" ">
          </command>
          <command
                commandId="activa.ui.command.view.show.yellow"
                icon="icons/16/yellow-16.png"
                label=" ">
          </command>
          <command
                commandId="activa.ui.command.view.show.blue"
                icon="icons/16/blue-16.png"
                label=" ">
          </command>
      </menuContribution>
      <menuContribution
       		allPopups="false"
            locationURI="menu:activa.ui.command.ddlRunGenerate">
        <command
              commandId="activa.ui.command.run.generate.all"
        	  label="%command.run.generate.all"
              style="push">
        </command>
        <command
              commandId="activa.ui.command.run.generate.mhp"
        	  label="%command.run.generate.mhp"
              style="push">
        </command>
        <command
              commandId="activa.ui.command.run.generate.ocap"
        	  label="%command.run.generate.ocap"
              style="push">
        </command>
        <command
              commandId="activa.ui.command.run.generate.ginga"
        	  label="%command.run.generate.ginga"
              style="push">
        </command>
        <command
              commandId="activa.ui.command.run.generate.iptv"
        	  label="%command.run.generate.iptv"
              style="push">
        </command>
        <command
              commandId="activa.ui.command.run.generate.internetTV"
        	  label="%command.run.generate.internetTV"
              style="push">
        </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:activa.ui.command.ddlDetect">
         <command
               commandId="activa.ui.command.detect.objects"
               label="%command.detect.objects"
               style="push"
               tooltip="%command.detect.objects">
         </command>
         <command
               commandId="activa.ui.command.detect.keyframes"
               label="%command.detect.keyframes"
               style="push"
               tooltip="%command.detect.keyframes">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:activa.ui.command.ddlDetectTrack">
         <command
               commandId="activa.ui.command.detect.track.template"
               label="%command.detect.track.template"
               style="push"
               tooltip="%command.detect.track.template">
         </command>
         <command
               commandId="activa.ui.command.detect.track.particle"
               label="%command.detect.track.particle"
               style="push"
               tooltip="%command.detect.track.particle">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:activa.ui.view.player">
        <command
              commandId="activa.ui.command.player.select"
              icon="icons/16/select-restangular-icon 16.png"
              label="%command.player.select"
              style="radio"
              tooltip="%command.player.select">
        </command>
        <command
              commandId="activa.ui.command.player.move"
              icon="icons/16/select-icon 16.png"
              label="%command.player.move"
              style="radio"
              tooltip="%command.player.move">
        </command>
        <command
              commandId="activa.ui.command.player.drawRectangle"
              icon="icons/16/shape-square-icon 16.png"
              label="%command.player.drawRectangle"
              style="radio"
              tooltip="%command.player.drawRectangle">
         </command>
         <command
              commandId="activa.ui.command.player.drawPolygon"
              icon="icons/16/draw-polygon-icon 16.png"
              label="%command.player.drawPolygon"
              style="radio"
              tooltip="%command.player.drawPolygon">
         </command>
         <command
              commandId="activa.ui.command.player.selectWand"
              icon="icons/16/wand-icon 16.png"
              label="%command.player.selectWand"
              style="radio"
              tooltip="%command.player.selectWand">
         </command>
         <separator
               name="activa.ui.separator8"
               visible="true">
         </separator>
         <command
               commandId="activa.ui.command.player.setColor"
               icon="icons/16/red-16.png"
               label="%red"
               style="radio"
               tooltip="%red">
            <parameter
                  name="activa.ui.param.color"
                  value="red">
            </parameter>
         </command>
         <command
               commandId="activa.ui.command.player.setColor"
               icon="icons/16/green-16.png"
               label=" %green"
               style="radio"
               tooltip="%green">
            <parameter
                  name="activa.ui.param.color"
                  value="green">
            </parameter>
         </command>
         <command
               commandId="activa.ui.command.player.setColor"
               icon="icons/16/yellow-16.png"
               label="%yellow"
               style="radio"
               tooltip="%yellow">
            <parameter
                  name="activa.ui.param.color"
                  value="yellow">
            </parameter>
         </command>
         <command
               commandId="activa.ui.command.player.setColor"
               icon="icons/16/blue-16.png"
               label="%blue"
               style="radio"
               tooltip="%blue">
            <parameter
                  name="activa.ui.param.color"
                  value="blue">
            </parameter>
         </command>
      </menuContribution>
      
      
      
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <!-- File Commands -->
      <category
            id="activa.ui.category.file"
            name="%command.file">
      </category>
      <command
            categoryId="activa.ui.category.file"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.file.NewHandler"
            id="activa.ui.command.file.new"
            name="%command.file.new">
      </command>
      <command
            categoryId="activa.ui.category.file"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.file.OpenHandler"
            id="activa.ui.command.file.open"
            name="%command.file.open">
      </command>
      <command
            categoryId="activa.ui.category.file"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.file.CloseHandler"
            id="activa.ui.command.file.close"
            name="%command.file.close">
      </command>
      <command
            categoryId="activa.ui.category.file"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.file.SaveHandler"
            id="activa.ui.command.file.save"
            name="%command.file.save">
      </command>
      <command
            categoryId="activa.ui.category.file"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.file.SaveDialogHandler"
            id="activa.ui.command.file.saveDialog"
            name="%command.file.saveDialog">
      </command>
      <command
      		categoryId="activa.ui.category.file"
            id="org.eclipse.ui.file.exit"
            name="%command.file.exit">
      </command>
      <!-- Edit Commands -->
      <category
            id="activa.ui.category.edit"
            name="%command.edit">
      </category>
      <command
      		categoryId="activa.ui.category.edit"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.edit.undo"
            name="%command.edit.undo">
      </command>
      <command
      		categoryId="activa.ui.category.edit"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.edit.redo"
            name="%command.edit.redo">
      </command>
      <command
      		categoryId="activa.ui.category.edit"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.edit.cut"
            name="%command.edit.cut">
      </command>
      <command
      		categoryId="activa.ui.category.edit"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.edit.copy"
            name="%command.edit.copy">
      </command>
      <command
      		categoryId="activa.ui.category.edit"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.edit.paste"
            name="%command.edit.paste">
      </command>
      <command
      		categoryId="activa.ui.category.edit"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.edit.delete"
            name="%command.edit.delete">
      </command>
      <command
      		categoryId="activa.ui.category.edit"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.edit.selectAll"
            name="%command.edit.selectAll">
      </command>
      <command
      		categoryId="activa.ui.category.edit"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.edit.deselect"
            name="%command.edit.deselect">
      </command>
       <command
      		categoryId="activa.ui.category.edit"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.edit.reselect"
            name="%command.edit.reselect">
      </command>
      <command
      		categoryId="activa.ui.category.edit"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.edit.invert"
            name="%command.edit.invert">
      </command>
      <!-- Edit/Transform Category-->
      <category
            id="activa.ui.category.edit.transform"
            name="%command.edit.transform.category">
      </category>
      <command
      		categoryId="activa.ui.category.edit.transform"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.edit.transform.scale"
            name="%command.edit.transform.scale">
      </command>
      <command
      		categoryId="activa.ui.category.edit.transform"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.edit.transform.rotate"
            name="%command.edit.transform.rotate">
      </command>
      <!-- View Category -->
      <category
            id="activa.ui.category.view"
            name="%command.view">
      </category>
      <command
      		categoryId="activa.ui.category.view"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.view.design"
            name="%command.view.design">
      </command>
      <command
      		categoryId="activa.ui.category.view"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.view.pcf"
            name="%command.view.pcf">
      </command>
      <command
      		categoryId="activa.ui.category.view"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.view.tva"
            name="%command.view.tva">
      </command>
      <command
      		categoryId="activa.ui.category.view"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.view.metadata"
            name="%command.view.metadata">
      </command>
      <command
      		categoryId="activa.ui.category.view"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.view.zoomIn"
            name="%command.view.zoomIn">
      </command>
      <command
      		categoryId="activa.ui.category.view"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.view.zoomOut"
            name="%command.view.zoomOut">
      </command>
      <command
      		categoryId="activa.ui.category.view"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.view.zoomToFit"
            name="%command.view.zoomToFit">
      </command>
	  <!-- View/Show category-->      
      <category
            id="activa.ui.category.view.show"
            name="%command.view.show.category">
      </category>
      <command
      		categoryId="activa.ui.category.view.show"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.view.show.allColors"
            name="%command.view.show.allColors">
      </command>
      <command
      		categoryId="activa.ui.category.view.show"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.view.show.red"
            name="%red">
      </command>
      <command
      		categoryId="activa.ui.category.view.show"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.view.show.green"
            name="%green">
      </command>
      <command
      		categoryId="activa.ui.category.view.show"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.view.show.yellow"
            name="%yellow">
      </command>
      <command
      		categoryId="activa.ui.category.view.show"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.view.show.blue"
            name="%blue">
      </command>
      <!-- Detect Category -->
      <category
            id="activa.ui.category.detect"
            name="%command.detect">
      </category>
      <command
      		categoryId="activa.ui.category.detect"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.detect.objects"
            name="%command.detect.objects">
      </command>
      <command
      		categoryId="activa.ui.category.detect"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.detect.keyframes"
            name="%command.detect.keyframes">
      </command>
      <!-- Detect/Track Category -->
       <category
            id="activa.ui.category.detect.track"
            name="%command.detect.track.category">
      </category>
      <command
      		categoryId="activa.ui.category.detect.track"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.detect.track.template"
            name="%command.detect.track.template">
      </command>
      <command
      		categoryId="activa.ui.category.detect.track"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.detect.track.particle"
            name="%command.detect.track.particle">
      </command>
      <!-- Run Category -->
      <category
            id="activa.ui.category.run"
            name="%command.run">
      </category>
      <command
      		categoryId="activa.ui.category.run"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.run.preview"
            name="%command.run.preview">
      </command>
      <!-- Run/Generate Category -->
      <category
            id="activa.ui.category.run.generate"
            name="%command.run.generate">
      </category>
      <command
      		categoryId="activa.ui.category.run.generate"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.run.generate.mhp"
            name="%command.run.generate.mhp">
      </command>
      <command
      		categoryId="activa.ui.category.run.generate"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.run.generate.ocap"
            name="%command.run.generate.ocap">
      </command>
      <command
      		categoryId="activa.ui.category.run.generate"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.run.generate.ginga"
            name="%command.run.generate.ginga">
      </command>
      <command
      		categoryId="activa.ui.category.run.generate"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.run.generate.iptv"
            name="%command.run.generate.iptv">
      </command>
      <command
      		categoryId="activa.ui.category.run.generate"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.run.generate.internetTV"
            name="%command.run.generate.internetTV">
      </command>
      <command
      		categoryId="activa.ui.category.run.generate"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.run.generate.all"
            name="%command.run.generate.all">
      </command>
      <!-- Help Category -->
      <category
            id="activa.ui.category.help"
            name="%command.help">
      </category>
      <command
      		categoryId="activa.ui.category.help"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.help.contents"
            name="%command.help.contents">
      </command>
      
      <!--Helpers commmands. They do nothing, they are used to draw the drop down list toolbars --> 
      <command
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.ddlView"
            name="ddlView">
      </command>
      <command
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.ddlDetect"
            name="ddlDetect">
      </command>
      <command
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.ddlDetectTrack"
            name="ddlDetectTrack">
      </command>
      <command
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.ddlRunGenerate"
            name="ddlRunGenerate">
      </command>
       <!-- Player Category -->
      <category
            id="activa.ui.category.player"
            name="%command.player">
      </category>
      <command
      		categoryId="activa.ui.category.player"
            defaultHandler="edu.eafit.maestria.activa.ui.player.handlers.DrawRectangleHandler"
            id="activa.ui.command.player.drawRectangle"
            name="%command.player.drawRectangle">
      </command>
      <command
      		categoryId="activa.ui.category.player"
            defaultHandler="edu.eafit.maestria.activa.ui.player.handlers.DrawPolygonHandler"
            id="activa.ui.command.player.drawPolygon"
            name="%command.player.drawPolygon">
      </command>
      <command
      		categoryId="activa.ui.category.player"
            defaultHandler="edu.eafit.maestria.activa.ui.player.handlers.SelectHandler"
            id="activa.ui.command.player.select"
            name="%command.player.select">
      </command>
      <command
      		categoryId="activa.ui.category.player"
            defaultHandler="edu.eafit.maestria.activa.ui.handlers.NotImplementedHandler"
            id="activa.ui.command.player.selectWand"
            name="%command.player.selectWand">
      </command>
      <command
            category="activa.ui.category.player"
            defaultHandler="edu.eafit.maestria.activa.ui.player.handlers.SetColorHandler"
            id="activa.ui.command.player.setColor"
            name="%command.player.setColor">
         <commandParameter
               id="activa.ui.param.color"
               name="Color"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="activa.ui.category.player"
            defaultHandler="edu.eafit.maestria.activa.ui.player.handlers.MoveHandler"
            id="activa.ui.command.player.move"
            name="%command.player.move">
      </command>
   </extension>
   
    <extension
         point="org.eclipse.ui.contexts">
      <context
            name="name of context"
            description="description context"
            id="activa.context"
            parentid="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="activa.ui.key.scheme"
            name="%scheme">
      </scheme>
	<!-- File commands - keys -->
      <key
            commandId="activa.ui.command.file.new"
            schemeId="activa.ui.key.scheme"
            sequence="M1+N"
            contextId="activa.context">
      </key>
      <key
            commandId="activa.ui.command.file.open"
            schemeId="activa.ui.key.scheme"
            sequence="M1+O">
      </key>
      <key
            commandId="activa.ui.command.file.close"
            schemeId="activa.ui.key.scheme"
            sequence="M1+W">
      </key>
      <key
            commandId="activa.ui.command.file.save"
            schemeId="activa.ui.key.scheme"
            sequence="M1+S">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="activa.ui.key.scheme"
            sequence="M1+Q">
      </key>
	<!-- Edit commands - keys -->
      <key
            commandId="activa.ui.command.edit.undo"
            schemeId="activa.ui.key.scheme"
            sequence="M1+Z">
      </key>
      <key
            commandId="activa.ui.command.edit.redo"
            schemeId="activa.ui.key.scheme"
            sequence="M2+M1+Z">
      </key>
      <key
            commandId="activa.ui.command.edit.cut"
            schemeId="activa.ui.key.scheme"
            sequence="M1+X">
      </key>
      <key
            commandId="activa.ui.command.edit.copy"
            schemeId="activa.ui.key.scheme"
            sequence="M1+C">
      </key>
      <key
            commandId="activa.ui.command.edit.paste"
            schemeId="activa.ui.key.scheme"
            sequence="M1+V">
      </key>
      <key
            commandId="activa.ui.command.edit.delete"
            schemeId="activa.ui.key.scheme"
            sequence="DEL">
      </key>
      <key
            commandId="activa.ui.command.edit.selectAll"
            schemeId="activa.ui.key.scheme"
            sequence="M1+A">
      </key>
      <key
            commandId="activa.ui.command.edit.deselect"
            schemeId="activa.ui.key.scheme"
            sequence="M1+D">
      </key>
      <key
            commandId="activa.ui.command.edit.reselect"
            schemeId="activa.ui.key.scheme"
            sequence="M2+M1+D">
      </key>
      <key
            commandId="activa.ui.command.edit.invert"
            schemeId="activa.ui.key.scheme"
            sequence="M1+I">
      </key>
	<!-- Edit/Transform commands - keys -->
      <key
            commandId="activa.ui.command.edit.transform.scale"
            schemeId="activa.ui.key.scheme"
            sequence="M2+M1+E">
      </key>
      <key
            commandId="activa.ui.command.edit.transform.rotate"
            schemeId="activa.ui.key.scheme"
            sequence="M2+M1+R">
      </key>
	<!-- View commands - keys -->
      <key
            commandId="activa.ui.command.view.design"
            schemeId="activa.ui.key.scheme"
            sequence="M2+M1+Q D">
      </key>
      <key
            commandId="activa.ui.command.view.pcf"
            schemeId="activa.ui.key.scheme"
            sequence="M2+M1+Q P">
      </key>
      <key
            commandId="activa.ui.command.view.tva"
            schemeId="activa.ui.key.scheme"
            sequence="M2+M1+Q T">
      </key>
      <key
            commandId="activa.ui.command.view.metadata"
            schemeId="activa.ui.key.scheme"
            sequence="M2+M1+Q M">
      </key>
      <key
            commandId="activa.ui.command.view.zoomIn"
            schemeId="activa.ui.key.scheme"
            sequence="M1++">
      </key>
      <key
            commandId="activa.ui.command.view.zoomOut"
            schemeId="activa.ui.key.scheme"
            sequence="M1+-">
      </key>
      <key
            commandId="activa.ui.command.view.zoomToFit"
            schemeId="activa.ui.key.scheme"
            sequence="M1+0">
      </key>
	<!-- View/Show commands - keys -->
      <key
            commandId="activa.ui.command.view.show.allColors"
            schemeId="activa.ui.key.scheme"
            sequence="M2+M1+A">
      </key>
      <key
            commandId="activa.ui.command.view.show.red"
            schemeId="activa.ui.key.scheme"
            sequence="M1+R">
      </key>
      <key
            commandId="activa.ui.command.view.show.green"
            schemeId="activa.ui.key.scheme"
            sequence="M1+G">
      </key>
      <key
            commandId="activa.ui.command.view.show.yellow"
            schemeId="activa.ui.key.scheme"
            sequence="M1+Y">
      </key>
      <key
            commandId="activa.ui.command.view.show.blue"
            schemeId="activa.ui.key.scheme"
            sequence="M1+B">
      </key>
	<!-- Detect commands - keys -->
      <key
            commandId="activa.ui.command.detect.objects"
            schemeId="activa.ui.key.scheme"
            sequence="M1+J">
      </key>
      <key
            commandId="activa.ui.command.detect.keyframes"
            schemeId="activa.ui.key.scheme"
            sequence="M1+K">
      </key>
	<!-- Detect/Track commands - keys -->
      <key
            commandId="activa.ui.command.detect.track.template"
            schemeId="activa.ui.key.scheme"
            sequence="M1+T">
      </key>
      <key
            commandId="activa.ui.command.detect.track.particle"
            schemeId="activa.ui.key.scheme"
            sequence="M1+P">
      </key>
	<!-- Run commands - keys -->
      <key
            commandId="activa.ui.command.run.preview"
            schemeId="activa.ui.key.scheme"
            sequence="F5">
      </key>
	<!-- Run/Generate commands - keys -->
      <key
            commandId="activa.ui.command.run.generate.all"
            schemeId="activa.ui.key.scheme"
            sequence="M2+M1+G A">
      </key>
      <key
            commandId="activa.ui.command.run.generate.mhp"
            schemeId="activa.ui.key.scheme"
            sequence="M2+M1+G M">
      </key>
      <key
            commandId="activa.ui.command.run.generate.ocap"
            schemeId="activa.ui.key.scheme"
            sequence="M2+M1+G O">
      </key>
      <key
            commandId="activa.ui.command.run.generate.ginga"
            schemeId="activa.ui.key.scheme"
            sequence="M2+M1+G G">
      </key>
      <key
            commandId="activa.ui.command.run.generate.iptv"
            schemeId="activa.ui.key.scheme"
            sequence="M2+M1+G I">
      </key>
      <key
            commandId="activa.ui.command.run.generate.internetTV"
            schemeId="activa.ui.key.scheme"
            sequence="M2+M1+G W">
      </key>
	<!-- Help commands - keys -->
      <key
            commandId="activa.ui.command.help.contents"
            schemeId="activa.ui.key.scheme"
            sequence="M1+?">
      </key>
      
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.eafit.maestria.activa.ui.preferences.GeneralPage"
            id="activa.ui.preferences.general"
            name="%preferences.general">
            <keywordReference id="activa.keywords.general"/>
      </page>
      <!--page
			category="org.eclipse.ui.preferencePages.Workbench"
			id="org.eclipse.ui.preferencePages.NewKeys"
			class="org.eclipse.ui.ExtensionFactory:newKeysPreferencePage "
			name="Keys (Experimental)">
			<keywordReference id="org.eclipse.ui.ide.keys"/>
	  </page-->
   </extension>
   
   <extension point="org.eclipse.ui.keywords">
		<keyword 
			id="activa.keywords.general" 
			label="%activa.keywords.general">
		</keyword>
	</extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.eafit.maestria.activa.ui.preferences.Initializer">
      </initializer>
   </extension>

</plugin>
